In [1]:
import psycopg2
import pandas as pd

# Read Dataset

In [24]:
# campaign = pd.read_excel('campaign.xlsx')
# campaign_details = pd.read_excel('campaign_details.xlsx')
# delivorder = pd.read_csv('delivorder.csv').notnull().sample(n = 1000)
delivorder_item = pd.read_csv('delivorder_item.csv', nrows=1000)
# distance = pd.read_excel('distance.xlsx')
geographic = pd.read_excel('geographic.xlsx')
# plants = pd.read_excel('plants.xlsx')
produk = pd.read_excel('produk.xlsx')
# sales_order = pd.read_excel('sales_order2.xlsx')
# search_keyword = pd.read_excel('search_keyword.xlsx')
# user_location = pd.read_excel('user_location.xlsx')

In [25]:
delivorder.isnull().sum()

do_id                            0
do_tgl                           0
do_org_id                        0
do_so_id                         0
do_tm_id                         0
do_nomor                         0
do_driver_id                     0
do_status_verifikasi             0
do_is_invoice                    0
do_is_tolak                      0
do_tolak_ket                     0
do_tgl_tolak                     0
do_jam_berangkat                 0
do_ket                           0
do_bag_pengiriman_id             0
do_createtime                    0
do_tgl_terima                    0
do_is_jurnal                     0
do_jam_terima                    0
do_jam_datang_diproyek           0
do_jam_bongkar                   0
do_tgl_datang_diproyek           0
do_tgl_bongkar                   0
do_is_invoice_plant_utama        0
do_stat_id                       0
do_tgl_pulang                    0
do_jam_pulang                    0
do_jarak_km                      0
do_ba_penolakan                  0
do_pembuat_penolakan             0
do_penyebab_penolakan            0
do_penyetuju_penolakan           0
do_tld_id                        0
do_hari_ba_penolakan             0
do_tgl_ba_penolakan              0
do_barcode                       0
do_alasan_berkas_belum_terima    0
do_is_berkas_diterima            0
do_tgl_berkas_diterima           0
do_tempat_cor                    0
do_lokasi_terima                 0
dtype: int64

In [21]:
list_table = [[campaign, 'campaign_malik'], 
              [campaign_details, 'campaign_details_malik'], 
              [delivorder, 'delivorder_malik'], 
              [delivorder_item, 'delivorder_item_malik'], 
              [distance, 'distance_malik'],
              [geographic, 'geographic_malik'], 
              [plants, 'plants_malik'], 
              [produk, 'produk_malik'], 
              [sales_order, 'sales_order_malik'], 
              [search_keyword, 'search_keyword_malik'], 
              [user_location, 'user_location_malik']]
for table_in_python, table_in_sql in list_table:
    #print(table_in_sql, table_in_python.shape)

campaign_malik (14, 13)
campaign_details_malik (14, 29)
delivorder_malik (164274, 41)
delivorder_item_malik (7700000, 6)
distance_malik (16, 11)
geographic_malik (895, 18)
plants_malik (25, 6)
produk_malik (65, 5)
sales_order_malik (24966, 9)
search_keyword_malik (328, 19)
user_location_malik (439, 18)

# Check the unique values in the table
Jika True maka nilai tersebut unik di dalam tabel

##### Tabel campaign

In [19]:
campaign.nunique() == len(campaign)

campaign              True
state                False
type                 False
currency             False
clicks               False
impressions          False
ctr                  False
avg_cpc              False
cost                 False
conversions          False
view_through_conv    False
cost_per_conv        False
conv_rate            False
dtype: bool

##### Tabel campaign_details

In [20]:
campaign_details.nunique() == len(campaign_details)

campaign                  True
state                    False
type                     False
subtype                  False
labels                   False
bid_strategy             False
bid_strategy_type        False
sitelinks_active         False
sitelinks_disapproved    False
phone_active             False
phone_disapproved        False
apps_active              False
apps_disapproved         False
apps_level               False
desktop_bid_adj          False
mobile_bid_adj           False
tablet_bid_adj           False
currency                 False
clicks                   False
impressions              False
ctr                      False
avg_cpc                  False
cost                     False
impr_abs_top             False
impr_top                 False
conversions              False
view_through_conv        False
cost_per_conv            False
conv_rate                False
dtype: bool

##### Tabel  distance

In [21]:
distance.nunique() == len(distance)

from_location         True
currency             False
clicks                True
impressions           True
ctr                  False
avg_cpc               True
cost                  True
conversions           True
view_through_conv    False
cost_per_conv         True
conv_rate            False
dtype: bool

##### Tabel geographic

In [22]:
geographic.nunique() == len(geographic)

country_territory         False
region                    False
metro_area                False
city                      False
most_targeted_location    False
location_type             False
currency                  False
clicks                    False
impressions               False
ctr                       False
avg_cpc                   False
cost                      False
impr_abs_top              False
impr_top                  False
conversions               False
view_through_conv         False
cost_per_conv             False
conv_rate                 False
dtype: bool

##### Tabel plants

In [31]:
plants.nunique() == len(plants)

plant                  True
batching_tipe         False
batching_jml          False
batching_kapasitas    False
status                False
jml_truk              False
dtype: bool

##### Tabel produk

In [32]:
produk.nunique() == len(produk)

no                True
mutu             False
spesifikasi      False
slump            False
spek_tambahan    False
dtype: bool

##### Tabel sales_order

In [33]:
sales_order.nunique() == len(sales_order)

tanggal_pemesanan       False
nomor_kontrak_retail     True
pelanggan               False
jenis                   False
nama_proyek             False
product                 False
area                    False
nilai                   False
status                  False
dtype: bool

##### Tabel search_keyword

In [34]:
search_keyword.nunique() == len(search_keyword)

keyword               False
keyword_status        False
keyword_match_type    False
campaign              False
ad_group              False
keyword_max_cpc       False
currency              False
clicks                False
impressions           False
ctr                   False
avg_cpc               False
cost                  False
impr_abs_top          False
impr_top              False
conversions           False
view_through_conv     False
cost_conv             False
conv_rate             False
avg_cpm               False
dtype: bool

##### tabel user_location

In [36]:
user_location.nunique() == len(user_location)

country                   False
region                    False
metro_area                False
city                      False
most_targeted_location    False
location_type             False
currency                  False
clicks                    False
impressions               False
ctr                       False
avg_cpc                   False
cost                      False
impr_abs_top              False
impr_top                  False
conversions               False
view_through_conv         False
cost_conv                 False
conv_rate                 False
dtype: bool

##### Tabel delivorder

In [38]:
delivorder.nunique() == len(delivorder)

do_id                             True
do_tgl                           False
do_org_id                        False
do_so_id                         False
do_tm_id                         False
do_nomor                          True
do_driver_id                     False
do_status_verifikasi             False
do_is_invoice                    False
do_is_tolak                      False
do_tolak_ket                     False
do_tgl_tolak                     False
do_jam_berangkat                 False
do_ket                           False
do_bag_pengiriman_id             False
do_createtime                    False
do_tgl_terima                    False
do_is_jurnal                     False
do_jam_terima                    False
do_jam_datang_diproyek           False
do_jam_bongkar                   False
do_tgl_datang_diproyek           False
do_tgl_bongkar                   False
do_is_invoice_plant_utama        False
do_stat_id                       False
do_tgl_pulang                    False
do_jam_pulang                    False
do_jarak_km                      False
do_ba_penolakan                  False
do_pembuat_penolakan             False
do_penyebab_penolakan            False
do_penyetuju_penolakan           False
do_tld_id                        False
do_hari_ba_penolakan             False
do_tgl_ba_penolakan              False
do_barcode                       False
do_alasan_berkas_belum_terima    False
do_is_berkas_diterima            False
do_tgl_berkas_diterima           False
do_tempat_cor                    False
do_lokasi_terima                 False
dtype: bool

##### delivorder_item

In [39]:
delivorder_item.nunique() == len(delivorder_item)

doi_id            False
doi_do_id         False
doi_soi_id        False
doi_qty_kirim     False
doi_qty_terima    False
ket               False
dtype: bool

# Connect to PostgreSQL

In [47]:
host="157.230.240.246"
database="learn_psycopg2"
user="iykra_trainee"
password="passwordiykra"

In [56]:
#conn.close()
conn = psycopg2.connect(host=host,database=database, user=user, password=password, port='5432')
cur = conn.cursor()

In [ ]:
cur.execute("""
SELECT table_schema,table_name
FROM information_schema.tables
ORDER BY table_schema,table_name;""")
cur.fetchall()

# Create Tables

In [ ]:
def create_tables(table_name_in_sql, conn, cur):
    commands = (
        """
        CREATE TABLE %s (
            
        )
        """
    )

In [60]:
produk.head(1)

   no   mutu spesifikasi    slump spek_tambahan
0   1  K-100    FA / NFA  10 - 18           NaN

In [33]:
def create_tables(conn,cur):
    """ create tables in the PostgreSQL database"""
    commands = (
        """
        CREATE TABLE campaign_malik (
            campaign VARCHAR(255),
            state VARCHAR(255),
            type VARCHAR(255),
            currency VARCHAR(255),
            clicks INT,
            impressions INT,
            ctr INT,
            avg_cpc FLOAT,
            cost FLOAT,
            conversions FLOAT,
            view_through_conv INT,
            cost_per_conv FLOAT,
            conv_rate FLOAT,
            PRIMARY KEY (campaign)
        )
        """,
        """
        CREATE TABLE campaign_details_malik (
            campaign VARCHAR(255),
            state VARCHAR(255),
            type VARCHAR(255),
            subtype VARCHAR(255),
            labels VARCHAR(255),
            bid_strategy VARCHAR(255),
            bid_strategy_type VARCHAR(255),
            sitelinks_active INT,
            sitelinks_disapproved INT,
            phone_active INT,
            phone_disapproved INT,
            apps_active INT,
            apps_disapproved INT,
            apps_level VARCHAR(255),
            desktop_bid_adj VARCHAR(255),
            mobile_bid_adj VARCHAR(255),
            tablet_bid_adj VARCHAR(255),
            currency VARCHAR(255),
            clicks INT,
            impressions INT,
            ctr INT,
            avg_cpc FLOAT,
            cost FLOAT,
            impr_abs_top FLOAT,
            impr_top FLOAT,
            conversions FLOAT,
            view_through_conv INT,
            cost_per_conv FLOAT,
            conv_rate FLOAT,
            PRIMARY KEY (campaign),
            FOREIGN KEY (campaign)
                REFERENCES campaign_malik (campaign)
                ON UPDATE CASCADE ON DELETE CASCADE
        )
        """,
        """
        CREATE TABLE delivorder_malik (
            do_id INT,
            do_tgl VARCHAR(255),
            do_org_id INT,
            do_so_id INT,
            do_tm_id FLOAT,
            do_nomor VARCHAR(255),
            do_driver_id FLOAT,
            do_status_verifikasi INT,
            do_is_invoice INT,
            do_is_tolak INT,
            do_tolak_ket VARCHAR(255),
            do_tgl_tolak VARCHAR(255),
            do_jam_berangkat VARCHAR(255),
            do_ket VARCHAR(255),
            do_bag_pengiriman_id VARCHAR(255),
            do_createtime VARCHAR(255),
            do_tgl_terima VARCHAR(255),
            do_is_jurnal INT,
            do_jam_terima VARCHAR(255),
            do_jam_datang_diproyek VARCHAR(255),
            do_jam_bongkar VARCHAR(255),
            do_tgl_datang_diproyek VARCHAR(255),
            do_tgl_bongkar VARCHAR(255),
            do_is_invoice_plant_utama INT,
            do_stat_id FLOAT,
            do_tgl_pulang VARCHAR(255),
            do_jam_pulang VARCHAR(255),
            do_jarak_km VARCHAR(255),
            do_ba_penolakan VARCHAR(255),
            do_pembuat_penolakan VARCHAR(255),
            do_penyebab_penolakan VARCHAR(255),
            do_penyetuju_penolakan VARCHAR(255),
            do_tld_id VARCHAR(255),
            do_hari_ba_penolakan VARCHAR(255),
            do_tgl_ba_penolakan VARCHAR(255),
            do_barcode VARCHAR(255),
            do_alasan_berkas_belum_terima VARCHAR(255),
            do_is_berkas_diterima FLOAT,
            do_tgl_berkas_diterima VARCHAR(255),
            do_tempat_cor VARCHAR(255),
            do_lokasi_terima VARCHAR(255)
        )
        """,
        """
        CREATE TABLE delivorder_item_malik (
            doi_id INT,
            doi_do_id INT,
            doi_soi_id INT,
            doi_qty_kirim FLOAT,
            doi_qty_terima FLOAT,
            ket VARCHAR(255)
        )
        """,
        """
        CREATE TABLE distance_malik (
            from_location VARCHAR(255),
            currency VARCHAR(255),
            clicks INT,
            impressions INT,
            ctr FLOAT,
            avg_cpc FLOAT,
            cost FLOAT,
            conversions FLOAT,
            view_through_conv INT,
            cost_per_conv FLOAT,
            conv_rate INT
        )
        """,
        """
        CREATE TABLE geographic_malik (
            country_territory VARCHAR(255),
            region VARCHAR(255),
            metro_area VARCHAR(255),
            city VARCHAR(255),
            most_targeted_location VARCHAR(255),
            location_type VARCHAR(255),
            currency VARCHAR(255),
            clicks INT,
            impressions INT,
            ctr FLOAT,
            avg_cpc FLOAT,
            cost FLOAT,
            impr_abs_top FLOAT,
            impr_top FLOAT,
            conversions FLOAT,
            view_through_conv INT,
            cost_per_conv FLOAT,
            conv_rate FLOAT
        )
        """,
        """
        CREATE TABLE plants_malik (
            plant VARCHAR(255),
            batching_tipe VARCHAR(255),
            batching_jml INT,
            batching_kapasitas INT,
            status VARCHAR(255),
            jml_truk FLOAT,
            PRIMARY KEY (plant)
        )
        """,
        """
        CREATE TABLE produk_malik (
            no INT,
            mutu VARCHAR(255),
            spesifikasi VARCHAR(255),
            slump VARCHAR(255),
            spek_tambahan VARCHAR(255),
            PRIMARY KEY (no)
        )
        """,
        """
        CREATE TABLE sales_order_malik (
            tanggal_pemesanan TIMESTAMP,
            nomor_kontrak_retail VARCHAR(255),
            pelanggan VARCHAR(255),
            jenis VARCHAR(255),
            nama_proyek VARCHAR(255),
            product VARCHAR(255),
            area VARCHAR(255),
            nilai INT,
            status VARCHAR(255),
            PRIMARY KEY (nomor_kontrak_retail)
        )
        """,
        """
        CREATE TABLE search_keyword_malik (
            keyword VARCHAR(255),
            keyword_status VARCHAR(255),
            keyword_match_type VARCHAR(255),
            campaign VARCHAR(255),
            ad_group VARCHAR(255),
            keyword_max_cpc INT,
            currency VARCHAR(255),
            clicks INT,
            impressions INT,
            ctr FLOAT,
            avg_cpc FLOAT,
            cost INT,
            impr_abs_top FLOAT,
            impr_top FLOAT,
            conversions FLOAT,
            view_through_conv INT,
            cost_conv FLOAT,
            conv_rate FLOAT,
            avg_cpm FLOAT
        )
        """,
        """
        CREATE TABLE user_location_malik (
            country VARCHAR(255),
            region VARCHAR(255),
            metro_area VARCHAR(255),
            city VARCHAR(255),
            most_targeted_location VARCHAR(255),
            location_type VARCHAR(255),
            currency VARCHAR(255),
            clicks INT,
            impressions INT,
            ctr FLOAT,
            avg_cpc FLOAT,
            cost FLOAT,
            impr_abs_top FLOAT,
            impr_top FLOAT,
            conversions FLOAT,
            view_through_conv INT,
            cost_conv FLOAT,
            conv_rate FLOAT
        )
        """
    )
    for command in commands:
        cur.execute(command)
        conn.commit()
    cur.close()

In [36]:
create_tables(conn,cur)

# Insert Values to Table

In [1]:
def insert_to(table_name_in_python, table_name_in_sql, conn, cur):
    # list COLUMNS
    list_columns = list(table_name_in_python.columns)
    
    # the VALUE to be inserted
    value = []
    table_as_str = table_name_in_python.astype(str)
    for i in range(len(table_as_str)):
        value.append(str(tuple(table_as_str.iloc[i].to_list())))
    value = ",".join(value)
    
    sql = "INSERT INTO %s(%s) VALUES %s" % (table_name_in_sql, ", ".join(col for col in list_columns), value)
    try:
        # execute the INSERT statement
        cur.execute(sql, (table_name_in_sql,))
        # commit the changes to the database
        conn.commit()
        # close communication with the database
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [38]:
cur = conn.cursor()

In [9]:
', '.join(produk.columns)

'no, mutu, spesifikasi, slump, spek_tambahan'

In [10]:
list_columns = list(produk.columns)
list_columns

['no', 'mutu', 'spesifikasi', 'slump', 'spek_tambahan']

In [13]:
value = []
table_as_str = produk.iloc[:2].astype(str)
for i in range(len(table_as_str)):
    value.append(str(tuple(table_as_str.iloc[i].to_list())))
value = ",".join(value)

In [23]:
",".join([str(tuple(table_as_str.iloc[0].to_list())), str(tuple(table_as_str.iloc[1].to_list()))])

"('1', 'K-100', 'FA / NFA', '10 - 18', 'nan'),('2', 'K-125', 'FA / NFA', '10 - 18', 'nan')"

In [14]:
value

"('1', 'K-100', 'FA / NFA', '10 - 18', 'nan'),('2', 'K-125', 'FA / NFA', '10 - 18', 'nan')"

In [ ]:
sql = "INSERT INTO produk(no, mutu, spesifikasi, slump, spek_tambahan) VALUES ('1', 'K-100', 'FA / NFA', '10 - 18', 'nan'),(),"

In [33]:
for i in range(len(geographic)):
    if geographic['conv_rate'].isnull()[i] == True:
        print(i)
        break

In [58]:
value = "'Indonesia', 'Jakarta', '--', 'Jakarta', 'South Jakarta', 'Location of interest', 'IDR', '536', '25960', '2.06', '249.89', '133941.43', '0.0', '0.0', '314.0', '0', '424.48', 'nan'"

In [59]:
sql = "INSERT INTO %s(%s) VALUES (%s)" % ('geographic_malik', ", ".join(geographic.columns), value)
try:
        # execute the INSERT statement
    cur.execute(sql, ('geographic_malik',))
        # commit the changes to the database
    conn.commit()
        # close communication with the database
except (Exception, psycopg2.DatabaseError) as error:
    print(error)

In [39]:
insert_to(campaign, 'campaign_malik', conn, cur)

In [40]:
insert_to(campaign_details, 'campaign_details_malik', conn, cur)

In [41]:
insert_to(distance, 'distance_malik', conn, cur)

In [42]:
insert_to(geographic, 'geographic_malik', conn, cur)

In [43]:
insert_to(plants, 'plants_malik', conn, cur)

In [44]:
insert_to(produk, 'produk_malik', conn, cur)

In [45]:
insert_to(search_keyword, 'search_keyword_malik', conn, cur)

In [46]:
insert_to(user_location, 'user_location_malik', conn, cur)

In [47]:
insert_to(sales_order, 'sales_order_malik', conn, cur)

In [6]:
insert_to(delivorder, 'delivorder_malik', conn, cur)

In [7]:
insert_to(delivorder_item, 'delivorder_item_malik', conn, cur)